header {
  padding: 12px;
}

header p {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

header p a:any-link {
  text-decoration: underline #cf5f3a 2px;
  color: #000;
}

header p a:any-link:hover {
  text-decoration-color: #000;
}

@media (min-width: 600px) {
  header {
    padding: 64px 32px;
  }

  header p {
    font-size: 64px;
  }
}

@media (min-width: 900px) {
  header p {
    display: block;
    max-width: 900px;
    margin: auto;
  }
}
