footer {
  padding: 12px;
  font-size: var(--body-font-size-s);
  bottom: 0;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}


@media (min-width: 600px) {
  footer {
    padding: 64px 32px;
  }
}

@media (min-width: 900px) {
  footer .footer p {
    display: block;
    max-width: 900px;
    margin: auto;
  }
}
